@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary: #e5e5e5;
  --secondary: #161616;
  --tertiary: #ddd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    
    color-scheme: dark;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.p-13-percent {
  padding: 13% 0;
}

.p-2-3-percent {
  padding: 2% 3%;
}

.f-links a {
  padding-inline: 10px;
} 


@media (max-width: 650px) {
  .footer {
    padding: 20px;
  }

  .f-links a {
    padding-inline: 15px;
  }
}
