@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --background: #01050c;
  --text: #e5edfd;
  --secondary: #161616;

  --pink: rgb(233, 30, 99);
  --purple: rgb(156, 39, 176);
  --blue: rgb(63, 81, 181);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
  
}

body {
  color: rgb(var(--foreground-rgb));
  
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.p-13-percent {
  padding: 13% 0;
}

.p-2-3-percent {
  padding: 2% 3%;
}

.f-links a {
  padding-inline: 5px;
} 

@media (max-width: 650px) {
  .footer {
    padding: 20px;
  }

  .f-links a {
    padding-inline: 10px;
  }
}
.gradient-text {
  font-weight: 800;
  animation: background-pan 3s linear infinite;
  background: linear-gradient(
    to right,
    var(--pink),
    var(--purple),
    var(--blue),
    var(--pink)
  );
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  white-space: nowrap;
  z-index: 40;
}

.login {
  padding: 0.3rem 1.5rem;
  border: 2px solid var(--text);
  border-radius: 10px;
  transition: 200ms ease-in-out;
}

.login:hover {
  background: #d3d6dd;
  color: var(--secondary);
  border-color: #d3d6dd;
}

.aboutContainer {
  background: linear-gradient(to bottom right, #0b053a, #344461);
}

.aboutContainer::before {
  background: rgba(0, 0, 0, 0.6); /* Black overlay with 60% opacity */
  z-index: 1;
}

.p-about {
  position: absolute;
  top: 15rem;
  width: 80%;
}